@font-face {
	font-family: "Emulogic";
	src: url("emulogic.ttf") format("truetype");
}

body {
	background-color: black;
	background-color: #061647;
	cursor: default;
}

#page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	max-width: 600px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	color: white;
	background-color: #0050F1;
	font-family: "Emulogic";
	font-size: 8px;

	font-smooth: never;
	-webkit-font-smoothing : none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.crisp_img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#mega_title {
	max-width: 240px;
	width: 100%;
}

#bosses_container {
	width: 100%;
	background-image: url("images/table_background.png");
}

#bosses {
	max-width: 390px;
	margin: 20px auto;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #0050F1;
}

#bosses img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

#bosses tr td {
	max-width: 130px;
	max-height: 132px;
}

#bosses tr {
	width: 100%;
}

#results {
	display: none;
	margin-bottom: 20px;
	max-width: 60%;
	padding-top: 3px;
	padding-left: 3px;
	border-right: 3px solid #4BA0FF;
	border-bottom: 3px solid #4BA0FF;
	-moz-box-shadow: inset 0 3px #A6E5FF;
	box-shadow: inset 3px 3px #A6E5FF;
}

#results td {
	padding-top: 3px;
	padding-left: 3px;
	max-width: 40px;
	max-height: 40px;

	border-right: 3px solid #A6E5FF;
	border-bottom: 3px solid #A6E5FF;
	-moz-box-shadow: inset 0 3px #4BA0FF;
	box-shadow: inset 3px 3px #4BA0FF;
	background-color: black;
}

#results td img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}


#etank_container {
	display: block;
	margin-bottom: 20px;
	font-size: 0;
}

#etank_count {
	font-size: 24px;
	margin-left: 6px;
	margin-right: 12px;
}

#etank_container * {
	display: inline;
	vertical-align: middle;
}

#etank_controls {
	display: inline-block;
}

#etank_controls * {
	display: block;
	height: 10px;
	padding: 4px 0;
}

#counter_down {
	visibility: hidden;
}
